@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

body {
    background-color: #121212;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden; 
    opacity: 0; 
    animation: fadeIn 1.5s forwards; 
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.container {
    position: relative;
    height: 100vh;
}

header {
    background-color: #0D47A1; 
    padding: 1.5vw 0; 
    text-align: center;
    position: relative;
    z-index: 1;
}

header h1 {
    margin: 0;
    font-size: 2.5vw; 
    color: #FFFFFF;
}

.header-left {
    position: absolute;
    top: 50%;
    left: 1.5vw;
    transform: translateY(-50%);
    font-size: 1.4vw;
    color: #FFFFFF;
}

.header-right {
    position: absolute;
    top: 50%;
    right: 1.5vw;
    transform: translateY(-50%);
    color: #FFFFFF;
    display: flex;
    font-size: 1.4vw;
    align-items: center;
}

.login-box {
    background-color: #1E1E1E;
    padding: 3vw;
    border-radius: 1vw;
    box-shadow: 0vw 0vw 3vw 0vw rgba(0, 0, 10, 2.7);
    width: 30vw;
    margin: 3vw auto;
    display: flex;
    text-align: center;
    align-items: center;
    position: relative;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}

.selection {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.5vw;
}

.selection label {
    font-size: 1.5vw;
    margin-right: 0.5vw;
}

.selection select {
    font-size: 1.5vw;
    padding: 0.5vw;
    margin-right: 1.5vw;
    border-radius: 0.5vw;
    border: none;
    background-color: #2C2C2C;
    color: #FFFFFF;
}

.led {
    width: 1.5vw;
    height: 1.5vw;
    border-radius: 50%;
    background-color: red;
    box-shadow: 0 0 1vw red;
    animation: blink 1s infinite;
    position: absolute;
    top: 2vw;
    right: 2vw;
}

@keyframes blink {
    0%, 50% { opacity: 1; }
    50.01%, 100% { opacity: 0; }
}

#time {
    font-size: 2.5vw;
    margin-bottom: 2vw;
    border: 0.3vw solid #ffffff;
    padding: 0.5vw;
    border-radius: 0.5vw;
    display: inline-block;
}

#barcodeInput {
    font-size: 1.2vw;
    padding: 1vw;
    width: 85%;
    border: none;
    font-weight: bolder;
    border-radius: 0.5vw;
    margin-bottom: -9vw;
    text-align: center;
}

#status {
    font-size: 1.5vw;
    margin-top: 11vw;
    margin-bottom: -3vw;
    color: #27ae60;
    font-weight: bold;
    animation: glow 1s ease-in-out infinite alternate;
}

#status.error {
    color: red; /* Color rojo para el mensaje de error */
    font-weight: bold;
    text-shadow: none; /* Sin animación de glow */
}

@keyframes glow {
    from {
        text-shadow: 0 0 2vw #27ae60;
    }
    to {
        text-shadow: 0 0 4vw #27ae60;
    }
}

.loader {
    border-top: 0.5vw solid #3498db;
    border-radius: 50%;
    width: 5vw;
    height: 5vw;
    animation: spin 0.5s linear infinite;
    margin: 3vw auto -3vw auto;
    display: none;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.pending-data {
    font-size: 1.2vw;
    color: #f1c40f;
    margin-top: 3vw;
    font-weight: bold;
}

.counter {
    position: absolute;
    bottom: 2vw;
    left: 2vw;
    font-size: 1.5vw;
}

.counter-box {
    background-color: #1E1E1E;
    padding: 0.5vw 1vw;
    border-radius: 0.5vw;
    border: 0.2vw solid #FFFFFF;
    display: inline-block;
}

.counter-box span {
    display: inline-block;
    transition: transform 0.3s ease;
}

.counter-box span.animate {
    transform: scale(1.5);
}

.logo {
    position: absolute;
    bottom: 2vw;
    right: 0vw;
}

.logo img {
    height: 4vw;
}
